@{
    ViewData["Title"] = "Home";
}

<div class="rounded bg-gray-200 py-10 text-center">
    <h1 class="text-center text-6xl font-semibold text-slate-900" style="font-family: 'Cinzel', serif;">Tuxedo Books</h1>
</div>

<div class="mt-8 text-center">
    <h2 class="text-3xl">Our Staff Pick!</h2>
    <div class="mt-4 rounded border border-emerald-200 bg-emerald-100 py-4">
        <a asp-controller="Book" asp-action="StaffPick" class="text-blue-600 underline">See Today's Staff Pick</a>
    </div>
</div>