@using System.Security.Principal

<div class="auth-shell">
@if (User.Identity?.IsAuthenticated == true)
{
    <span class="auth-greeting">Hello @User.Identity?.Name!</span>
    <a class="nav-link nav-link-primary auth-link" asp-area="MicrosoftIdentity" asp-controller="Account" asp-action="SignOut">Sign out</a>
}
else
{
    <a class="nav-link nav-link-primary auth-link" asp-area="MicrosoftIdentity" asp-controller="Account" asp-action="SignIn">Sign in</a>
}
</div>
