@{
    ViewData["Title"] = "Tutorial - Page 1";
}

@section Header {
    <h1>Help Page</h1>
}

<h2>Tutorial - Page 1</h2>
<p>Here's the first thing you need to know about my website.</p>

<a class="inline-flex items-center rounded bg-slate-900 px-3 py-1.5 text-sm font-semibold text-white hover:bg-slate-800" asp-area="Help" asp-controller="Tutorial" asp-action="Index" asp-route-id="Page2">Next</a>
