@{
    ViewData["Title"] = "Help";
}

@section Header {
    <h1>Help Page</h1>
}

<p>Welcome to the Help area.</p>

<ul>
    <li><a asp-area="Help" asp-controller="Tutorial" asp-action="Index" asp-route-id="Page1">Tutorial - Page 1</a></li>
    <li><a asp-area="Help" asp-controller="Tutorial" asp-action="Index" asp-route-id="Page2">Tutorial - Page 2</a></li>
    <li><a asp-area="Help" asp-controller="Tutorial" asp-action="Index" asp-route-id="Page3">Tutorial - Page 3</a></li>
</ul>
