@import "tailwindcss";

@source "../../**/*.cshtml";

@layer base {
    body {
        @apply text-slate-900;
    }

    h1 {
        @apply mt-6 mb-4 text-3xl font-semibold;
    }

    h2 {
        @apply mt-6 mb-2 text-xl font-semibold;
    }

    p {
        @apply mb-4;
    }

    a {
        @apply text-blue-600 hover:text-blue-800;
    }
}
