<!DOCTYPE html>

<html>
<head lang="en">
    <meta name="viewport" content="width=device-width, initial-scale=2.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/output.css" asp-append-version="true" />
</head>

<body class="min-h-screen">
    
   
        @RenderBody()
   
</body>
</html>
